name: Publish to PyPI and GitHub Packages

on:
  release:
    types: [created, published, released]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine
      - name: Build package
        run: python -m build
      - name: Publish to GitHub Packages
        run: |
          export TWINE_USERNAME=${{ github.actor }}
          export TWINE_PASSWORD=${{ secrets.GITHUB_TOKEN }}
          export TWINE_REPOSITORY_URL=https://pypi.pkg.github.com/${{ github.repository }}
          python -m twine upload dist/* --verbose
        continue-on-error: true
      - name: Publish to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          python -m twine upload dist/* --skip-existing --verbose
        continue-on-error: true
